<p>
  header-comp works!
</p>

<ion-menu contentId="main-content" menuId="menu1">
     <ion-header>
       <ion-toolbar>
         <ion-title>Menu Content</ion-title>
       </ion-toolbar>
  </ion-header>
       <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-button shape="round" href="home" target="_blank">
         Home
</ion-button>
</ion-item>
         <ion-item>
        <ion-button shape="round" href="calculator" target="_blank">
          Calculator
  </ion-button>
  </ion-item>
       <ion-item>
          <ion-button shape="round" href="article" target="_blank">
           Article
  </ion-button>
  </ion-item>
         <ion-item>
           <ion-button shape="round" href="login" target="_blank">
          Login
</ion-button>
</ion-item>
          <ion-item>
         <ion-button shape="round" href="search" target="_blank">
          Search
</ion-button>
</ion-item>
  </ion-list>
  </ion-content>
  </ion-menu>
  
